# exploratory notebook
This notebook is used for initial exploration on grabbing financial data using pandas_datareader.

## imports

In [27]:
import pandas_datareader.data as web
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

## grabbing data

In [30]:
tickers = ["AAPL", "MSFT", "IBM"]

start_date = "2014-01-01"
end_date = "2017-12-31"

data = web.DataReader(tickers, data_source="iex", start=start_date, end=end_date)

5y

Below we'll sort the data on a per-ticker basis.

In [31]:
aapl = data["AAPL"]
msft = data["MSFT"]
ibm = data["IBM"]

In [32]:
aapl.head()

               open     high      low    close     volume
date
2014-01-02  73.3661  73.5443  72.8830  73.0294   58791957
2014-01-03  72.9937  73.1046  71.3526  71.4252   98303870
2014-01-06  70.9592  72.1936  70.4509  71.8147  103359151
2014-01-07  71.8662  72.0827  71.0219  71.3008   79432766
2014-01-08  71.1387  72.0299  71.1229  71.7527   64686685

In [34]:
type(aapl.index)

pandas.indexes.base.Index